body {
  background-image: url('assets/images/snow-tree-2.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-family: 'Dancing Script, cursive';
  font-size: '1.2em';
}

.App {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body {
    justify-content: center !important;
  }
  .card {
    margin: 10%;
    width: 70%;
    background-color: 'transparent';
  };
  .img {
    padding: 10px 0;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin: 0 auto;
    width: 80%;
  }
  .img {
    padding: 10px 0;
    width: 100%;
  }
}

@keyframes morph {
  0% { background-color: white; }
  50% { background-color: transparent; }
  100% { background-color: rgba(#9297ae, 0.75); }
}

#card-back {
  animation: morph 3s normal infinite;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow-flake {
  $total: 500;
  position: absolute;
  top: 0;
  color: white;

  &:after {
    content: "\2744";
  }

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}